<div class="container ---reports">
<!--  Row logo start-->
  <div class="row">
    <div class="col-2">
      <img src="assets/img/logo-btpanorama.png"
           srcset="assets/img/logo-btpanorama@2x.png 2x,
             assets/img/logo-btpanorama@3x.png 3x"
           class="logo-btpanorama" />
    </div>
    <div class="col-6" col-md-4></div>
    <div class="col-3 col-md-4" >
      <span class="Name-Adviser-Adviser text-style-1">Name Adviser</span>
<!--      <span class="Name-Adviser-Adviser">Adviser  ·  123456789</span>-->
    </div>
  </div>
<!-- Row logo end-->

  <div class="row">
    <div class="col-1 spine-background">
      <div class="container">
        <div class="row mt-3">
          <img src="assets/img/icon-home.png"
               srcset="assets/img/icon-home@2x.png 2x,
             assets/img/icon-home@3x.png 3x"
               class="icon-home" />
        </div>
      </div>
    </div>

    <div class="col-11">
      <!--    Main body starts-->
      <div class="row header-background-copy">
          <div class="col-8 col-md-6">
            <span class="Beechams-Investment" >Beechams Investment Wrap</span>
          </div>
          <div class="col-2 col-md-3" >
            <span class="Portfolio-value-as-o" >Portfolio value today</span>
          </div>
          <div class="col-2" >
            <span class="amount" >$4,16,400.00</span>
          </div>
        </div>

      <div class="row">
        <div class="col-1 background">
          <span> - -</span>
        </div>
        <div class="col-2 Reports">
          <span>Reports</span>
        </div>
        <div class="col-5"></div>
        <div class="col-4">
          <input class="input" placeholder="I would like to ..." type="search" >
        </div>
      </div>

<!--      TODO search controls-->

      <div class="row Rectangle-203-Copy">
        <div class="col-2 col-lg-2 col-md-4 background-report-pack">
          <div>
            <span>Summary pack</span>
            <div class="background-report-pack-info">
              <span class="Portfolio-valuation">
                Portfolio valuation, Asset allocation, Account performance and Portfolio performance
              </span>
            </div>
          </div>
        </div>

        <div class="col-2 col-lg-2 col-md-4 background-report-pack">
          <div>
            <span>Tax pack</span>
            <div class="background-report-pack-info">
              <span class="Portfolio-valuation">
                Portfolio valuation, Asset allocation, Account performance and Portfolio performance
              </span>
            </div>
          </div>
        </div>

        <div class="col-2 col-lg-2 col-md-4 background-report-pack" style="padding-top: 65px">
          <div>
            <span>Really long name pack</span>
            <div class="background-report-pack-info">
              <span class="Portfolio-valuation">
                Portfolio valuation, Asset allocation, Account performance and Portfolio performance
              </span>
            </div>
          </div>
        </div>

        <div class="col-2 col-lg-2 col-md-4 background-report-pack" style="padding-top: 40px">
          <div>
            <span>This is an extremely long name pack</span>
            <div class="background-report-pack-info">
              <span class="Portfolio-valuation">
                Portfolio valuation, Asset allocation, Account performance and Portfolio performance
              </span>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>



<!--  Top banner start-->

<!--  Top banner end-->

</div>
